// COLOUR PALETTE

$white: #fff; // White
$black: #000; // Black
$grey: #ececec; // hero banner/ nav border colour
$blue: #B8C4CC; // Hover colour
$font_grey: #888; // grey used in some fonts
$bg_grey: #B8C4CC;