section.about {
	margin: 75px auto;
	overflow: hidden;
}
.about h2 {
	float: left;
}
.about p {
	float: right;
	width: 65%;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 0 auto;
}
@include respond-to(tablet) {
	section.about {
		margin: 65px 5%;
	}
	.about p {
		font-size: 16px;
		line-height: 24px;
	}
}
@include respond-to(mobile) {
	section.about {
		margin: 35px 5%;
	}
	.about h2 {
		float: none;
		width: 100%;
	}
	.about p {
		float: none;
		width: 100%;
		font-size: 14px;
		line-height: 20px;
	}
}