// BUILTBYCHRIS.COM
// FRAMEWORK STYLESHEET

/*NORMALIZE*/
body {
	margin: 0;
}
a {
	text-decoration: none;
	color:  $black;
	@include transition;
}
ul {
	padding: 0;
	margin: 0;
}
img {
	outline: none;
	border: none;
}
h1,
h2,
h3,
h4,
h5 {
	font-weight: lighter;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 1px;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 36px;	
}
.show_desktop {
	display: block;
}
.show_mobile {
	display: none;
}
.clear {
	overflow: hidden;
	float: none;
	clear: both;
}
/*FRAMEWORK STYLES*/
.site_container {
	@include font_body_copy;
	overflow: hidden;
	position: relative;
}
.inner_content {
	width: 100%;
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
}
// WAYPOINTS
.bounceInLeft, 
.bounceInRight, 
.fadeInUp, 
.fadeInUpDelay, 
.fadeInDown, 
.fadeInUpD, 
.fadeInLeft, 
.fadeInRight, 
.bounceInDown,
.fadeIn,
.fadeOut {
	visibility: visible!important;
}

@include respond-to(mobile) {
	/*GENERIC STYLES*/
	.show_desktop {display: none;}
	.show_mobile {display: none;}

	/*FRAMEWORK STYLES*/
	.inner_content {
		max-width: 100%;
		min-width: 100%;
	}
}