.work_section {
	margin: 0 auto;
	padding: 75px 0;
	visibility: hidden;
	background: $grey;
	overflow: hidden;
}
.work_section ul.work_grid  {
	position: relative;
	clear: both;
	margin: 20px auto 0;
	list-style: none;
	text-align: center;
}
.work_section ul.work_grid  li {
	display: block;
	float: left;
	position: relative;
	width: 25%;
	@include transition;
}
.work_section ul.work_grid  li a {
	display: block;
}
/* Common style */
ul.work_grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;
	height: auto;
	background: #000;
	text-align: center;
	cursor: pointer;
}

ul.work_grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.8;
}

ul.work_grid figure figcaption {
	color: $white;
	text-transform: uppercase;
	font-size: 15px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

ul.work_grid figure figcaption::before,
ul.work_grid figure figcaption::after {
	pointer-events: none;
}

ul.work_grid figure figcaption,
ul.work_grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
ul.work_grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

ul.work_grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

ul.work_grid figure h2 span {
	font-weight: 800;
}

ul.work_grid figure p {
	margin: 0;
}

ul.work_grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

ul.work_grid figure.hover_effect {
	background: #030c17;
}
ul.work_grid figure.hover_effect.fcuk {
	background: #000;
}
ul.work_grid figure.hover_effect.gp {
	background: #000;
}
ul.work_grid figure.hover_effect.good {
	background: #000;
}
ul.work_grid figure.hover_effect.pip {
	background: #000;
}
ul.work_grid figure.hover_effect.alice {
	background:#000;
}
ul.work_grid figure.hover_effect.undie {
	background: #030c17;
}
ul.work_grid figure.hover_effect img {
	opacity: 1;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.hover_effect figcaption::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 0;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.hover_effect h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	opacity: 0;
}
figure.hover_effect i {
	padding: 1em;
	width: 32px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
figure.hover_effect p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.hover_effect:hover figcaption::before,
figure.hover_effect:hover h2,
figure.hover_effect:hover p,
figure.hover_effect:hover i {
	opacity: 1;
}

figure.hover_effect:hover figcaption {
	background-color: rgba(0,0,0,1);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.hover_effect:hover img {
	opacity: 0.4;
}
@include respond-to(tablet) {
	.work_section {
		padding: 65px 5%;
	}
	.work_section ul.work_grid li h2 {
		font-size: 28px;
	}
}
@include respond-to(mobile) {
	.work_section h2 {
		padding-left: 2%;
	}
	.work_section ul.work_grid li {
		width: 50%;
	}
	.work_section ul.work_grid li h2 {
		font-size: 28px;
	}
}