// BUILTBYCHRIS.COM
// ABOUT STYLESHEET


section.about {
	padding: 120px 0;
	position: relative;
	overflow: hidden;
	text-align: center;
}
section.about h2 {	
	text-transform: uppercase;
}
section.about .about_intro {
	padding: 0 155px 65px;
}
section.about .about_intro p {
	letter-spacing: 0.3px;
	line-height: 1.4;
	font-size: 18px;
}

// Coding info
.coding_info {
	background: $font_grey;
	padding: 90px 0;
	overflow: hidden;	
}
.coding_info .coding_content {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.coding_info .coding_content article {
	width: 25%;
	display: block;
	float: left;
	padding: 15px 0;
	color: white;
	@include transition(all 0.4s ease-in-out);
}
.coding_info .coding_content article i {
	font-size: 50px;
}
.coding_info .coding_content article:first-child i{
	-ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}


.timer {
	width:200px; 
	margin:20px auto;
	text-align:center;
	display:block;
	font-size:20px; 
	font-size:4rem;
}
.coding_info .coding_content article .finish-text {
    visibility: hidden;
    padding-top: 15px;
    font-size: 16px;
    position: relative;
    @include transition(all 0.4s ease-in-out);

}


.coding_info .coding_content article.block_01.done .finish-text {
  	visibility: visible; 
	opacity: 1; 
}
.coding_info .coding_content article.block_02.done .finish-text {
  	visibility: visible; 
	opacity: 1; 
}
.coding_info .coding_content article.block_03.done .finish-text {
  	visibility: visible; 
	opacity: 1; 
}
.coding_info .coding_content article.block_04.done .finish-text {
  	visibility: visible; 
	opacity: 1; 
}



@include respond-to(tablet) {
	section.about {
		padding: 80px 0;
	}
	section.about .about_intro {
		padding: 0 55px 65px;
	}


	// Coding info
	.coding_info {
		padding: 60px 0;	
	}
	.coding_info .coding_content {
		width: 90%;
	}



	.coding_info .coding_content article i {
		font-size: 46px;
	}
	.coding_info .coding_content article:first-child i{
		margin-right: -10px;
	}
	.timer {
		width:100%; 
		font-size:40px; 
	}



}
@include respond-to(mobile) {
	section.about {
		padding: 60px 0;
	}
	section.about .about_intro {
		padding: 0 10px 35px;
	}
	section.about .about_intro p {
		line-height: 1.2;
		letter-spacing: 0.2px;
		font-size: 16px;
	}


	// Coding info
	.coding_info {
		padding: 50px 0;	
	}
	.coding_info .coding_content {
		width: 100%;
	}
	.coding_info .coding_content article {
		width: 50%;
	}
	.coding_info .coding_content article i {
		font-size: 46px;
	}
	.coding_info .coding_content article:first-child i{
		margin-right: -8px;
	}
	.timer {
		width:100%; 
		font-size:40px; 
	}

}
