.case_study {
	margin: 0 auto;
	position: relative;
}
.case_study .case_hero {
	position: relative;
	width: 100%;
	text-align: center;
}
.case_study .case_hero i {
	font-size: 22px;
	background: rgba(00, 00, 00, 0.8); 
	border-radius: 50%;
	color: $white;
	padding: 10px;
	position: absolute;
	bottom: -10px;
	cursor: pointer;
}
.case_study .animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
.case_study .case_intro {
	padding: 65px 0;
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	position: relative;
	p {
		line-height: 28px;		
	}
}
.case_study .case_gallery {
	padding: 50px 0;
	background: $grey; 
	text-align: center;
	position: relative;
}
span.triangle {
	position: absolute;
	top: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #fff;
	margin-left: -16px;
	z-index: 1;
}
.case_study .case_gallery ul {
	padding: 0;
	margin: 0 auto;
	max-width: 960px;
}
.case_study .case_gallery ul li {
	display: block;
	margin: 0 auto 35px;
	// background: transparent!important;
}
.case_study .case_gallery ul li.mob_img {
	max-width: 320px;
	margin: 0 auto;
}
.grid {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid li {
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
}
.grid li img {
	width: 960px;
	margin: 0 auto;
}

/* Effect 1: opacity */
.grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}
.case_study .case_gallery a.visit_site {
	clear: both;
	padding: 10px 20px;
	border: 1px solid $black;
	font-size: 20px;
	border-radius: 3px;
	text-transform: uppercase;
	-webkit-transition: 0.2s all;
    transition: 0.2s all;
    display: inline-block;
}
.case_study .case_gallery a.visit_site:hover {
	border-color: $blue;
	color: $blue;
}
// back to top
.case_study aside.top {
	cursor: pointer;
	text-align: left;
	display: none;
	position: absolute;
	padding: 0;
	left: 10px;
	bottom: 10px;
	z-index: 11;

}


// CASE FOOTER
.case_study .case_footer {
	text-align: center;
	padding: 35px 0;
}
.case_study .case_footer .work_section {
	background: $white;
}
.case_study .case_footer .work_section ul li {
	width: 25%;
}

@include respond-to(mobile) {
	.case_study .case_intro {
		padding: 35px 0;
	}
	.case_intro h1 {
		font-size: 30px;
	}
}