// BUILTBYCHRIS.COM
// CASE STUDY STYLESHEET


.case_study_content {
	padding: 60px;
	overflow: hidden;
}
.stuck {
  position:fixed;
  top:0;
}

aside.website_data {
	display: block;
	float: left;
    width: 210px;
    font-size: 14px;
}
aside.website_data ul li {
	display: block;
	width: 100%;
	margin-bottom: 20px;
    line-height: 1.6;
    word-wrap: break-word;
}
aside.website_data ul li span {
	display: block;
	color: rgba(80,80,80,0.8);
}

aside.website_data ul li span.title {
	color: $font_black;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    font-style: normal;
}
aside.website_data ul li a {
	color: #444;
	text-decoration: underline;
}



.case_study_content .website_info {
	display: block;
    float: right;
    width: calc(100% - 420px);
    position: relative;
    margin-right: 210px;
}
.case_study_content .website_info .info_content {
	width: 50%;
	margin:0 auto;
}

.case_study_content .website_info header {

}
.case_study_content .website_info header article {
	width: 44%;
	display: block;
	float: left;
	padding: 35px 0 0;
	h3 {
	    color: rgba(50,50,50,1);
		font-weight: bold;
    	text-transform: none;
        font-size: 1.17em;
	}
}
.case_study_content .website_info header article.block_01 {
	margin-right: 12%;
}


// Site images

.website_images {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 35px 0 35px;
	margin: 0 auto;
	background-color: #f5f5f5;
	text-align: center;
}
.website_images ul li {
	display: block;

	margin: 0 auto;
	width: 55%;
}

.website_images ul li:after {
	@include title_underline;
}
.website_images img {
	width: 100%;
}
.visit_client_site {
	padding: 35px 0;
}
.visit_client_site a {
	color: $font_black;
	font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}




@include respond-to(tablet) {
	

}
@include respond-to(mobile) {
	
}
