// BUILTBYCHRIS.COM
// CONTACT STYLESHEET



section.contact {
	overflow: hidden;
    position: relative;
    width: 100%;
    padding: 35px 0 35px;
    margin: 0 auto;
    text-align: center;
}
section.contact header {
	padding-bottom: 35px;
}
section.contact header h2 {
	font-size: 52px;
	margin-bottom: 10px;
}
section.contact header p {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}


section.contact article.contact_block {
	display: block;
	float: left;
	width: 46%;
	padding: 0 2%;
	text-align: left;
}
section.contact article.contact_block.location {
	font-size: 14px;
	font-weight: 400;
    color: rgba(80,80,80,0.8);
}
section.contact article.contact_block.location p {
	margin-bottom: 0;
}
section.contact article.contact_block.location p a {
	color: rgba(80,80,80,0.8);
}

form.contact_form input,
form.contact_form textarea,
form.contact_form button  {
	box-shadow: 0;
	outline: 0;
}
form.contact_form .form_item {
	display: block;
	padding: 10px 0;
}





@include respond-to(tablet) {

}

@include respond-to(mobile) {

	section.contact header h2 {
		font-size: 32px;
	}
	section.contact header p {
		width: 80%;
	}


	section.contact article.contact_block {
		width: 100%;
		padding: 0 0%;
		text-align: left;
	}
	section.contact article.contact_block.location {
		font-size: 14px;
		font-weight: 400;
	    color: rgba(80,80,80,0.8);
	}
	section.contact article.contact_block.location p {
		margin-bottom: 0;
	}
	section.contact article.contact_block.location p a {
		color: rgba(80,80,80,0.8);
	}

	form.contact_form input,
	form.contact_form textarea,
	form.contact_form button  {
		box-shadow: 0;
		outline: 0;
	}
	form.contact_form .form_item {
		display: block;
		padding: 10px 0;
	}
}