// BUILTBYCHRIS.COM
// FOOTER STYLESHEET



footer.site_footer {
	background-color: #1E1E1E;
	background-color: rgba(34,34,34,1);
    font-size: 14px;
    color: $white;
    overflow: hidden;
    padding: 25px 0;
}
footer.site_footer nav.footer_nav {

}
footer.site_footer nav.footer_nav ul {
	display: block;
	width: 50%;
	float: left;
}
footer.site_footer nav.footer_nav ul.social {
	text-align: right;
}
footer.site_footer nav.footer_nav ul li {
	display: inline-block;
}
footer.site_footer nav.footer_nav ul li a {
	color: $white;
	display: block;
	padding: 0 10px;
	font-size: 20px;
}
@include respond-to(tablet) {

}

@include respond-to(mobile) {
	
}