// BUILTBYCHRIS.COM
// FRAMEWORK STYLESHEET

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,
body,
.site_container,
.site_pusher,
.site_content {
	height: 100%;
}
.site_content {
	overflow-y: scroll;
}
.site_content,
.site_content-inner {
	position: relative;
}
.site_container {
	position: relative;
	overflow: hidden;
}
.site_pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}
.site_pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}
/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
.no-csstransforms3d .site_pusher,
.no-js .site_pusher {
	padding-left: 300px;
}

@include respond-to(mobile) {
	
}