// BUILTBYCHRIS.COM
// FRAMEWORK STYLESHEET


html,
body {
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 100%;

}
body {
	// padding-top: -40px;
}
a {
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5 {
	font-weight: 300;
	margin-top: 0;
	letter-spacing: 0.8px;
}
h1 {
	font-size: 38px;
}
h2 {
	font-size: 32px;
}

// Site container
.site_container {
	position: relative;

	min-height: 100%;
	display: block;
	width: 100%;
	min-width: 960px;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 100;
}

.site_container .inner_content {
	width: 100%;
	max-width: 1200px;
	min-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}
.main_content {

}
a.to-top {
    background-color: #524F51;
    outline: none !important;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 1000;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    color: #ccc;
    text-align: center;
    line-height: 38px;
    font-size: 13px;
    @include transition(all 0.4s ease-in-out);
    display: none;
}
a.to-top.active {
	display: block;
	@include transition(all 0.4s ease-in-out);
}

@include respond-to(tablet) {
	// Site container
	.site_container {
		min-width: 100%;
	}
	.site_container .inner_content {
		max-width: 96%;
		min-width: 96%;
		padding: 0 2%;
	}
}

@include respond-to(mobile) {
	// Site container
	.site_container {
		min-width: 100%;
	}
	.site_container .inner_content {
		max-width: 92%;
		min-width: 92%;
		padding: 0 4%;
	}
}







